:root {
	--background: #F5F3F3;
	--foreground: black;
	--nav-color: #3A3A3A;
	
	--font-family: 'Roboto';
	--header-style: 36px;
	--body-style: 24px;
	--mobile-body-style: 18px;

	--light-green: #00FFE0;
	--darker-green: #02E5CA; 
}